{% extends "main.html" %}

{% block content %}
{% include "nav.html" %}

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Contact Page</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>
  {{ form.media }}
  <div class="container mt-5">
    <div class="row">
        <form action="" class="was-validated">
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label">Username:</label>
              <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="mb-3">
              <label for="pwd" class="form-label">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
              <label class="form-check-label" for="myCheck">I agree on blabla.</label>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Check this checkbox to continue.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
{% endblock %}